<html>
<head>
  <title>It's So Easy Tokens</title>
<body>

  <div style="font-size: 24px; margin: 20px; padding: 20px; border: 2px solid black;">
    <form method="post" action="/goto_auth">
     Slack Team: <input type="text" name="team"/>
    <input type="submit" value="Go"/>
    </form>
  </div>

</body>
</html>
